<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
      <div class="container">
          <div class="text-container">
              <h2>Server public key</h2>
      
              <!--Put server public key here-->
              <textarea id="server_public">
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjD67OndJJR4WKBdPMGWy
dONbTslZEItofox/BKTBlLDXNLQXrRylHvXFvPmyjWavlgWf7rKIOHnsRGdQNsJw
1qTGE/R5EHJpLkB/kfQVXJks3PfWN3X0p+L7rGZYrUlX/4Kte3crikpRQUF5OcqZ
kL6ezabCm6T36MZ+IhyUfhLVPuzmVSSEXvx3Ymne4vOYHj/tVr+ILAJn5vhZ59mw
V6WsR+aKD+mYErpHvuOIlOOaCVQ6i62R8tJL9oYcBYlHgBOeyOVxHJFEUGe8IrlK
wznQFtasgRlWDa0G8nlKCoXLmmJTmeUOpM+yBfxocRJA7XlqIxhCfi9dG7soT+Cj
oQIDAQAB
      -----END PUBLIC KEY-----
      </textarea>
          </div>
      
          <div class="text-container">
              <h2>Client public key</h2>
      
              <!--Put client public key here-->
              <textarea id="client_public">
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwWmKX1ndBNNeXFAmYeZr
      lQxX4Pv0lZU0l9TsFhoiFwd/9S6dpJ/86T4KF3okSuR2YfjTGuy7xtQsiVg+Waub
      TppujR6OuR9gSUXRDYbTQX+wjDu7GrDxl/+uMJ1qrYyD2Qq02F/tKwKTy+bRP/4e
      P6Y+D8Ca9lihXT7vT+Eu+wLXIykodnFcfrlTv0l4FOsjhltK9hrSMgeemj3ZQnqC
      gRHh+YdVEWsVH6nLeK9OrF+ETtgz0m0skBotEUtUmZHE1pQoIEyGbL5KZXWllUsf
      R2YE9/m4ttMJsPHYE+gzstB1KeilsfWASLWc6Ms9F5wVrXlpDEbVGH5ZLrA2baIh
      2wIDAQAB
      -----END PUBLIC KEY-----
      </textarea>
          </div>
      
          <div  class="text-container">
              <h2>Client private key</h2>
      
              <!--Put client private key here-->
              <textarea id="client_private">
      -----BEGIN PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDBaYpfWd0E015c
UCZh5muVDFfg+/SVlTSX1OwWGiIXB3/1Lp2kn/zpPgoXeiRK5HZh+NMa7LvG1CyJ
WD5Zq5tOmm6NHo65H2BJRdENhtNBf7CMO7sasPGX/64wnWqtjIPZCrTYX+0rApPL
5tE//h4/pj4PwJr2WKFdPu9P4S77AtcjKSh2cVx+uVO/SXgU6yOGW0r2GtIyB56a
PdlCeoKBEeH5h1URaxUfqct4r06sX4RO2DPSbSyQGi0RS1SZkcTWlCggTIZsvkpl
daWVSx9HZgT3+bi20wmw8dgT6DOy0HUp6KWx9YBItZzoyz0XnBWteWkMRtUYflku
sDZtoiHbAgMBAAECggEAYOlHIjve2Pon/81RTiCsq0RCDENy7DiU37cajICPsEZb
wTiYWNKpYR1q5RSYdsY+4xxQet8/v4K0xiTnKPspmJsc5az4Cp5EGrLW6xYxaFJY
3gtX1ynuBCFi4I0f1NHhhrEsqHZ4WeKyt6pyEsR715yu4Cm7+8+xGw3bz4Sfi7mi
SS3JwOmiuwZtA9n90Ws8lOLuCmI3HNO9yvdQB/vPRxdXkbfJaW+u6YFeFDf1aBJJ
GFKDQESU1U9idBK11SCmPkdupcBZI0JN8gjXaRJv3whW7gSGvmJUjL6X2trsNHsz
wcaZqOX9AlU/VPG5sSwPw1wwlYa9hrmh+GlvFw24QQKBgQD4T5P8HAezxM+xKyvF
b6EiaE2BLXvquBaaroKe540jKci5uxiO5OSJl0wrCR9lcYY3Kv14TkQlIVRMox+t
fF2ueEqLzysQqhie9XVeNQp/Rk36mVgzPlfz84uVukmmeyUdgTien35mkhtLZ2S9
PG8ViORMdqjGY8kz4TzBqr2JiwKBgQDHZsSIlpH7Y2KkUpuCgMvaGyRblkHvU5BL
kyF4cmDdqGeOTIBeSuO/3V6UvsiDBq5yPlkHTSdyGKiI8xihtHxkFe3Up/P82Y5B
1RNuA0vEBnSvx3VIJDMHRyii2fLRA8jnBFUx4A9eoEYER0AviU5EFJX0PEBH4oHI
AGLK3tOy8QKBgQDVAZbFrtngmVU8+vaacG7+kBDkXjstl2s0l7zPSXymDGL3CItB
kRKHATXCuRmosODclFFJEYKdg2DIOSqkbMoEL4ZrNnUP34otWgyrmr59fbbI4SBr
HPDgASzdbSde28Zz7/S9Bb6tiGpHndMqDhyQkZSeDzAqt1DS40V2MNxUjwKBgQCJ
hkdmLPLh/tm5m3/Fsi7mbnHU+PzgozGR7hfXiotkVRGXAwxF/EC3w2XIEQ0Z0THf
eUDN2FisSHV0frUuUdy46qbtVCji6ulCXkLYTU2kFQ/FbDtnVhAbpOhR6R+fKI0X
R9W6YF45VTD1Im8SWhCww8HogOWUrpPz7NA2OxinAQKBgQCaleCSIGi4YNU/OlDT
K13fYo2Na+M8iQCdJE86O2xoAwqzwLbOchHNr//Ko4j3+nqoPpO935PbeI+lW0wV
c7jFiTKF0XYMXs5wbQ6BMds35ciArLZZpkddaHOS2p0lg6Rio/fCWf3haTGgbcfk
LJrou416vVIw1Fp66Pf61h5LhQ==
      -----END PRIVATE KEY-----
      </textarea>
          </div>
      <div style="clear: both"></div>
      </div>
    
    <header>
      <h1>Super Chat</h1>
    </header>

    <section>
      <div id="change_username">
	<input id="username" type="text" />
	<button id="send_username" type="button">Change username</button>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>
    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/encoding.js"></script>
    <script src="/js/encoding-indexes.js"></script>
    <script src="/js/converter-wrapper.js"></script>
    <script src="/js/rsawrapper.js"></script>
    <script src="/js/client.js"></script>
    </body>
    
</html>